<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:replace="common::head" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/wangEditor/wangEditor.min.css}"/>
</head>
<body data-material-theme="bluegrey" class="material-design">
<div class="material-design-layout">
    <div th:replace="common::about"></div>
    <div th:replace="common::fileinput"></div>
    <div th:replace="common::dirinput"></div>
    <div th:replace="common::navigation"></div>
    <div th:replace="common::siderleft"></div>
    <div th:replace="common::siderright"></div>
    <div class="material-container">
        <div class="panel bit-1">
            <div class="panel-body">
                <div id="editor">

                </div>
                <a class="btn btn-primary" role="button" onclick="Save()">保存</a>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var editorPath = [[${editorPath}]];
    /*]]>*/
</script>
<script th:src="@{/js/home/home.js}"></script>
<script th:src="@{/wangEditor/wangEditor.js}"></script>
<script th:src="@{/js/user/editor.js}"></script>
</body>
</html>