<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:replace="common::head" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/wangEditor/wangEditor.min.css}"/>
</head>
<body data-material-theme="bluegrey" class="material-design">
<div class="material-design-layout">
    <div th:replace="common::about"></div>
    <div th:replace="common::fileinput"></div>
    <div th:replace="common::dirinput"></div>
    <div th:replace="common::navigation"></div>
    <div th:replace="common::siderleft"></div>
    <div th:replace="common::siderright"></div>
    <div class="material-container">
        <div class="panel bit-1">
            <div class="panel-body">
                <h4>请填入申请理由</h4>
                <div id="editor">

                </div>
                <a role="button" type="button" class="btn btn-primary" id="apply">申请</a>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/home/home.js}"></script>
<script th:src="@{/wangEditor/wangEditor.js}"></script>
<script>
    var editor = new wangEditor('#editor');
    $(function init() {
        editor.customConfig.menus = [
            'undo',  // 撤销
            'redo'  // 重复
        ];
        editor.create();
    });

    $("#apply").click(function () {
        $.ajax({
            url: "/user/volumeReason",
            type: "POST",
            data: {
                reason: editor.txt.text()
            },
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    alert("申请成功，请等待审核！");
                } else if (data.fail1) {
                    confirm(data.fail1);
                } else if (data.fail) {
                    confirm("申请失败！");
                }
            },
            error: function (data) {
                alert("申请失败！");
            }
        });
    })
</script>
</body>
</html>