<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:replace="common::head" th:remove="tag"></object>
</head>
<body data-material-theme="bluegrey" class="material-design">
<div class="material-design-layout">
    <div th:replace="common::about"></div>
    <div th:replace="common::fileinput"></div>
    <div th:replace="common::navigation"></div>
    <div th:replace="common::siderleft"></div>
    <div th:replace="common::siderright"></div>
    <div class="material-container">
        <div class="panel bit-1">
            <div class="panel-body">
                <textarea name="reason" id="reason" placeholder="请在此填入申请理由，字数不要超过150字"
                cols="35" rows="15">

                </textarea>
                <a role="button" id="apply">申请</a>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/home/home.js}"></script>
<script>
    $("#apply").click(function () {
        $.ajax({
            url: "/user/volumeReason",
            type: "POST",
            data: {
                reason: $("#reason").val()
            },
            dataType: "json",
            success: function (data) {
                if (data.success) {
                    alert("申请成功，请等待审核！");
                }
            },
            error: function (data) {
                alert("申请失败！");
            }
        });
    })
</script>
</body>
</html>